/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_dark {
  --background-color: #000028;
  --background-accent-color: #ff0070;
  --text-color: #f1b2ce;
  --accent-text-color: #000028;
  --head-color: #ff0070;
  --main-font: "IBM Plex mono";
  --background-image: url(../images/cover-image-dark.png);
  --shadow: #ff0070;
  --main-title: #db00ff;
  --decor: #ff0070;
  --decor-point: #ff0070;
}
