/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --background-color: #fff1f7;
  --background-accent-color: #ff8dcb;
  --text-color: #353430;
  --accent-text-color: #000028;
  --head-color: #353430;
  --main-font: "IBM Plex mono";
  --background-image: url(../images/cover-image-light.png);
  --shadow: #ff8dcb;
  --main-title: #ffc2e6;
  --decor: rgba(0, 0, 0, 0);
  --decor-point: rgba(0, 0, 0, 0);
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff1f7;
    --background-accent-color: #ff8dcb;
    --text-color: #353430;
    --accent-text-color: #000028;
    --head-color: #353430;
    --main-font: "IBM Plex mono";
    --background-image: url(../images/cover-image-light.png);
    --shadow: #ff8dcb;
    --main-title: #ffc2e6;
    --decor: rgba(0, 0, 0, 0);
    --decor-point: rgba(0, 0, 0, 0);
  }
}
